.searchBoxWrap {
    margin-bottom: 25px;
    .searchBoxLink {
        margin-right: 18px;
	    padding: 11px 26px;
    }
    .searchBoxLink:hover {
        background: #F0F0F4;
        font-weight: bold;
    }

}