.card-small {
    width: 370px;
    height: 129px;
    border:1px solid #CDCDCD;
    border-radius: 3px;
    display:flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-right: 30px;
    padding: 20px; 
}

.card-small-title {
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
}

.card-small-link {
    color:#C4C4C4;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.card-img {
    width: 50%;
}

.card-small-box {
    
}