
.button-blue {
    width: 145px;
    height: 50px;
    background: #1C62CD;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    outline: transparent;
}

.button-grey {
    width: 252px;
    height: 50px;
    background: #F0F0F4;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    border: none;
    outline: transparent;
}

.button-white {
    width: 284px;
    height: 57px;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    border: none;
}

.button-cart {
    width: 60px;
    height: 40px;
    background: #1C62CD;
    border-radius: 10px 0px 0px 0px;
    border: none;
    outline: transparent;
    -webkit-border-radius: 10px 0px 0px 0px;
    -moz-border-radius: 10px 0px 0px 0px;
    -ms-border-radius: 10px 0px 0px 0px;
    -o-border-radius: 10px 0px 0px 0px;
}


