.button-blue {
    width: 145px;
    height: 50px;
    background: #1C62CD;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    outline: transparent;
}

.button-grey {
    width: 252px;
    height: 50px;
    background: #F0F0F4;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    outline: transparent;
}

.button-white {
    width: 284px;
    height: 57px;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    outline: transparent;
}


