.thirdPage{
    margin: 0 auto;
}

.bigCard {
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    width: 1176px;
    height: 669px;
}
.imagesBigGidro {
    width:500px;
    height:375px;
}
.blockLeft {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    position: relative;
}
.blockRight {
    position: relative;
}
.sale {
    width: 94px;
    height: 44px;
    background: #1C62CD;
    color: #CDCDCD;
    font-size: 12px;
    position: absolute;
    right: 72%;
    top: 0%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.priceProducts {
    font-size: 30px;
    font-weight: 700;
}
.btnCart {
    background: #1C62CD;
    border: none;
    width: 177px;
    height: 50px;
    position: absolute;
    left: 14%;
    bottom: 37%;
    transform: translate(-50%);
    color: #CDCDCD;
    font-size: 14px;
    text-align: center;
    line-height: 3.7;
}