.sidebarItem{
  outline: transparent;
}

.sidebarItem{
margin-bottom: 40px;
}

.sidebarItemTitle{
font-family: SF Pro Display;
font-weight: 600;
font-size: 16px;
line-height: 1.19;
color: #2F3035;
outline: transparent;
}

.childrenWrapper{
margin-top: 19px;
margin-right: 68px;
}

.sidebarItemTitle{
  list-style: none;
  padding-left: 26px;
}

.sidebarItem{
  position: relative;
}

.sidebarItem .sidebarItemTitle:before{
content: '';
background-image: url('./../../../../assets/images/sidebar/arrow_right.svg');
position: absolute;
background-repeat: no-repeat;
width: 100%;
height: 15px;
top: 5px;
left: 0;
margin-right: 10px;
}

.sidebarItem[open] .sidebarItemTitle:before{
  content: '';
  background-image: url('./../../../../assets/images/sidebar/arrow_bottom.svg');
  top: 8px;
}