.secondPage {
    height: 100vh;
}

.categoriesProducts {
    display: flex;
}
.sorting {
    background-color: rgb(108, 172, 224);

}
.coptions {
    background-color: aquamarine;
    width: 30%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}