.secondPage {
    width: 1170px;
   
}

.categoriesProducts {
    display: flex;
}
.sorting {
    background-color: rgb(108, 172, 224);

}
.coptions {
    background-color: aquamarine;
    max-width: 300px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 870px;
    justify-content: space-between;
}

