a{
  cursor: pointer;
}

button{
  cursor: pointer;
}

.sidebarLinks{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 41px;
  max-width: 246px;
  justify-content: space-between;
  padding-bottom: 7px;
  }

.sidebarLink{
  text-decoration: none;
  font-family: SF Pro Display;
   font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.09em;
  text-transform: uppercase;
    color: #C4C4C4;
    padding-bottom: 7px;
    border-bottom: 2px solid transparent;
}

.sidebarLink:hover,
.sidebarLink:active{
  border-bottom: 2px solid #1C62CD;
  font-weight: bold;
  color: #2F3035;
}

.radioList{
  max-width: 232px;
}

.radioBlock{
  display: flex;
  justify-content: space-between;
}

.brandList{
  max-width: 213px;
  min-height: 34px;
  margin-bottom: 18px;

}

.brandBlock{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  min-height: 49px;
 }

.modelList{
  max-width: 270px;
}

 .modelSearchForm{
margin-bottom: 20px;
 }

 .modelSearch{
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-right: 80px;
   border: 1px solid #E0E0E0;
   }

 .modelSearch::placeholder{
  font-family: SF Pro Display;
    font-size: 12px;
  line-height: 1.2;
    color: #BDBEC2;
    display: inline-block;
    margin: 0;
    padding: 0;
   }

   .checkboxBlock{
     display: flex;
     justify-content: space-between;
     margin-bottom: 20px;
     
   }

.checkboxBlock1{
  display: flex;
  flex-direction: column;
  min-height: 50px;
  justify-content: space-between;
}

.checkboxBlock2{
  display: flex;
  flex-direction: column;
  min-height: 50px;
  justify-content: space-between;
}

.promotionsBtnBlock{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 290px;  
}

.promotionsBtn{
  padding: 7px 15px;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.2;
  background-color: #F0F0F4;
  color: #C4C4C4;
  border: none;
}

.promotionsBtnSale{
  background-color: #1C62CD;
  color: #ffff;
}

.promotionsBtnDealer{
  background-color: #2F3035;
  color: #ffff;
}

.countrylist{
  max-width: 236px;
}

.buttonsFooter{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnFooter:nth-child(-n+2){
  margin-bottom: 10px;
}

.btnSelect{
  font-family: SF Pro Display;
font-size: 15px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.12em;
text-transform: uppercase;
color: #BDBEC2;
padding: 16px 85px;
border: none;
}

.btnMore{
  font-family: SF Pro Display;
font-size: 13px;
line-height: 1.33;
color: #2F3035;
padding: 5px 31px;
background: url('./../../../assets/images/sidebar/arrow_bottom.svg') no-repeat right 2px top 11px;
border: none;
background-color: transparent;
}

.btnReset{
  font-family: SF Pro Display;
font-size: 13px;
line-height: 1.33;
color: #C4C4C4;
padding-bottom: 1px;
border: none;
border-bottom: 1px solid #C4C4C4;
background-color: transparent;
}

