.Card {
  border: 1px solid #CDCDCD;
  box-sizing: border-box;
  border-radius: 3px;
  flex-basis: 30%;
  min-height: 403px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
}

.sale {
  width: 63px;
  height: 25px;
  background: #1C62CD;
  color: #CDCDCD;
  font-size: 12px;
  position: absolute;
  right: 65%;
  top: 0;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImg {
  width: 250px;
  height: 190px;
}

.productTitle {
  font-size: 18px;
  text-align: center;
  font-family: 'SFProRegular', sans-serif;
}

.priceProducts {
  font-size: 30px;
  font-weight: 700;
}

.iconHeart {
  position: absolute;
  left: 89%;
  top: 3%;
  transform: translate(-50%);
}

.btnCart {
  background: #1C62CD;
  border-radius: 10px 0px 0px 0px;
  border: none;
  width: 60px;
  height: 40px;
  position: absolute;
  left: 89%;
  bottom: 0%;
  transform: translate(-50%);
  outline: transparent;
}