.headerNavBar {
    width: 1170px;
    height: 53px;
    border: 1px solid rgb(150, 148, 148);
    background-color: #F0F0F4;
    margin-bottom: 80px;
    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        a {
            text-decoration: none;
        }
    }
}



