.footer {
    padding-bottom: 27px;
    background-color: #F0F0F4;
    ul {
        padding-left: 0;
        list-style-type: none;
    }
    .footerTop {
        max-width: 1170px;
        margin: 0 auto;
        padding: 44px 0;
        display: flex;
        justify-content: space-around;
        h3 {
            margin-top:0px;
        }
    }
    .footerDown {
        display: flex;
        justify-content: center;
        .footerDownText {
            margin-right: 80px;
        }
    }
}



