.footer {
    background-color: #F0F0F4;
    .footerTop {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footerDown {
        display: flex;
        justify-content: center;
    }
}



