.searchInput {
	height: 50px;
	width: 1015px;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	padding: 6px 0 4px 10px;
	background: #F6F6f6;
	border-radius: 3px;
    border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}
