.saleBanner {
    width: 265px;
    height: 397px;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    margin-left: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .saleTop {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        .saleStok {
            display: inline-block;
            background: #1C62CD;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.1em;
            color: #fff;
            padding: 8px 20px;
        }
        .salePrice {
            font-weight: bold;
            font-size: 27px;
            line-height: 32px;
            color: #1C62CD;
        }
    }
    .saleImg {
        align-self: center;
        width:45% ;
    }
    .saleTitle {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        margin-bottom: 7px;
    }
    .saleDown {
        background: #F0F0F4;
        padding: 25px 20px;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        .saleData {
            color: #1C62CD;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
        }
    }
}













