.breadCrumbsMenu {
    margin-top: 46px;
    margin-bottom: 41px;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.breadCrumbsLink {
    color: #C4C4C4;
    font-size: 15px;
    text-decoration: none;
}

.breadCrumbsLink:hover {
    color: #1b9a9e;
    text-decoration: underline;
}

.breadCrumbsList:not(:last-child):after {
    padding: 0 10px;
    color: #C4C4C4;
    content: ">";
}
