@import './../../sass/vars.scss';


.homePage {
    display:flex;
    flex-direction: column;
    .container {
        @extend %container;
        .homeWrapper {
            display:flex;
            margin-bottom: 77px;
        }
    }
    .homeBox {
        display:flex;
        flex-wrap: wrap;
        margin-top: 80px;
    }
}






