.gidroCard {
  border: 1px solid #CDCDCD;
  box-sizing: border-box;
  border-radius: 3px;
  width: 271px;
  height: 403px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.productImg {
  width: 250px;
  height: 190px;
}

.productNames {
  font-size: 18px;
  text-align: center;
}

.priceProducts {
  font-size: 30px;
}

.iconHeart {
  position: absolute;
  left: 89%;
  top: 3%;
  transform: translate(-50%);
}

.cart {
  background: #1C62CD;
  border-radius: 10px 0px 0px 0px;
  width: 60px;
  height: 40px;
  position: absolute;
  left: 89%;
  bottom: 0%;
  transform: translate(-50%);
}